@font-face{
    font-family: 'vazir';
    src: url('./font/vazir.ttf');
}
*{
    font-family:'vazir';
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    direction: rtl;
}

.sideBar{
    width:35%;
    height:100%;
    position: fixed;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.sideBar .overlay{
    position: absolute;
    background-color: #2c2c2c;
    opacity:0.5;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1
}
.sideBar .about{
    color:rgba(255, 255, 255, 0.5);
    line-height: 2;
    font-size: 20px;
    margin-top:32%;
    padding:50px;
}
.sideBar .about .pic{
    width:90px;
    height:90px;
    border-radius: 50px;
}